<nav class="nav">
  <%= link_to unauthenticated_root_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h1 class="categories-h1">REGISTER</h1>
  <div>Next</div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<section class="sign-up-section">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input-field" %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn-next devise-btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</section>
