<section class="categories-section">
  <% if user_signed_in? %>
    <%= render partial: 'shared/nav', locals: { h1_content: "CATEGORIES" } %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="categories">
      <% if @categories.empty? %>
        <p>Add your first category</p>
      <% else %>
        <div class="categories-container">
          <% @categories.each do |category| %>
            <%= link_to category do %>
              <%= render partial: 'shared/category', locals: {category: category} %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="btn-container">
      <button><%= link_to "Add New Category", new_category_path %></button>
    </div>
  <% end %>
</section>
